body{
    background-color: #f4cfcf;
}

h1{
    font-family: 'Permanent Marker', cursive; color: white;
}

/*h1{*/
/*    font-family: ;, cursive;*/
/*}*/

/*img { height:250px; */
/*    width:500px; }*/